
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /villas/{villaId} {
      allow get, list: if true;
      allow write: if false;
    }

    match /advertisements/{advertisementId} {
      allow get, list: if true;
      allow create: if isSignedIn();
      allow update, delete: if false;
    }

    match /managementPosts/{managementPostId} {
      allow get, list: if true;
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn();
    }

    match /complaints/{complaintId} {
      allow get, list: if true;
      allow create: if isSignedIn();
      allow update: if isSignedIn();
      allow delete: if false;
    }

    match /emergencyContacts/{emergencyContactId} {
      allow get, list: if true;
      allow create: if isSignedIn();
      allow update, delete: if false;
    }

    match /approvedPhones/{approvedPhoneId} {
      allow get, list: if true;
      allow write: if true;
    }

    match /managementPasswords/{managementPasswordId} {
      allow get, list: if true;
      allow write: if false;
    }

    match /martStatus/{martStatusId} {
      allow get, list: if true;
      allow write: if isSignedIn();
    }

    match /namazTimings/{timingId} {
      allow get, list: if true;
      allow write: if isSignedIn();
    }
  }
}
